<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        .container {
            background-color: #ffffff;
            padding: 20px;
            margin: 0 auto;
            max-width: 600px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .header h1 {
            margin: 0;
            font-size: 24px;
            color: #214e47;
        }
        .header p {
            margin: 0;
            font-size: 14px;
            color: #666;
        }
        .content h2 {
            font-size: 18px;
            color: #214e47;
            margin-top: 0;
        }
        .content p {
            font-size: 14px;
            line-height: 1.6;
        }
        .table {
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        .table th, .table td {
            padding: 8px 12px;
            border: 1px solid #ddd;
            text-align: left;
        }
        .table th {
            background-color: #f2f2f2;
            color: #333;
        }
        .total {
            text-align: right;
            font-size: 16px;
            margin-bottom: 20px;
        }
        .footer {
            text-align: center;
            font-size: 12px;
            color: #999;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header" style="background-color: #214e47;">
            <center>
                <img src="https://static.wixstatic.com/media/a8d396_443f122cbd7746f9ab513201b4235947~mv2.png/v1/crop/x_0,y_217,w_1920,h_646/fill/w_781,h_263,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Manual_logo_almanta.png" style="max-width: 400px; padding: 1rem;  display: block; width: 260px;" alt="" width="260" border="0">
            </center>
        </div>
        <div class="content">
            <p>Plan de Compra: <%= lote %></p>
            <p>Estimado/a <%= nombreCliente %>,</p>
            <p>Gracias por contactarnos con respecto al Precio del lote <%= lote %>. Nos complace presentarle la siguiente cotización:</p>
            <h2>Detalles de la Cotización</h2>
            <table class="table">
                <tr>
                    <th>L x A</th>
                    <th>M<sub>2</sub> lote</th>
                    <th>Exedente</th>
                </tr>
                <tr>
                    <td><%= lxa %></td>
                    <td>$<%= mLote %></td>
                    <td>$<%= exedente %></td>
                </tr>
            </table>
            <br>
            <h2>Area total: <%= areaTotal %></h2>

            <table class="table">
                <tr>
                    <th>Apartado</th>
                    <th>Precio por m<sub>2</sub></th>
                </tr>
                <tr>
                    <td><%= apartado %></td>
                    <td><%= precioM %></td>
                </tr>
            </table>
            <br>
                <h1>Plan de compra</h1>
                <h3><%=planCompra%></h3>
            <br>

            
            <% if(planCompra == "credito"){ %>
                <table class="table">
                    <tr>
                        <th>Pago</th>
                        <th>Fecha</th>
                        <th>Importe</th>
                    </tr>
                    <% planPagos.forEach(pago => { %>
                    <tr>
                        <td><%= pago.pago %></td>
                        <td><%= pago.fecha %></td>
                        <td>$<%= pago.importe %></td>
                    </tr>
                    <% }); %>
                </table>
                <p class="total">Mensualidades: $<%= mesualidades %></p>
                <p class="total">Total Mensualidades: <b>$<%= totalMensualidades %></b></p>
            <% } %>

            <hr>
            <p class="total">Enganche: $<%= Enganche %></p>
            <p class="total">Apartado: $<%= apartado %></p>
            <p class="total">Total de pagos: <b>$<%= totalPagos %></b></p>

            <br>
            <br>

            <p class="total">Precio Lista: $<%= PrecioLista %></p>
            <p class="total">Descuento: $<%= descuento %></p>
            <h2>Total: $<%= PrecioTotal %></h2>
           
            <h2>Pago al escriturar $<%= escritura %></h2>
            <br>
            <p>Si tiene alguna pregunta o necesita más información, no dude en ponerse en contacto con nosotros. Agradecemos su preferencia y estamos a su disposición para cualquier consulta.</p>
        </div>
        <br>
        <div class="footer">
            <p>&copy; 2024 Almanta. Todos los derechos reservados.</p>
        </div>
    </div>
</body>
</html>
